
.layer-1-slum {
    position: relative;
    height: 110%;

}

.layer-2-slum {
    position: relative;
    height: 100%;
    width: 120%;
}

/*.layer-3-waterwell {
    position: relative;
    height: 100%;
    width: 30vw;
    bottom: 5vw;
}
.layer-nav {
    height: 100%;
    width: 100vw;
}*/

.background-slum-2 {
    background: url(/images/city/city-poor.png) no-repeat 50% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 105%;
    left: -5%;
}
