

.scene1-layer-1 {
    position: relative;
    height: 1200px;
}

.scene1-layer-2 {
    height: 400px;
}

.scene1-layer-3 {
    width: 30%;
    right: 20% !important;
    left: unset !important;
    height: 100%;
    bottom: 10vw;
    top: unset !important;
}

.scene1-background-layer-1 {
    background: url(/images/centrum.png) no-repeat 50% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    bottom: 30vh;
    /*background-size: cover;*/
    position: absolute;
    width: 130%;
    left: -10%;
    /*top: -5%;*/
    height: 100%;
}

.scene1-background-layer-2 {
    background: url(/images/sky.jpg) no-repeat 50% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 110% auto;
    /*background-size: cover;*/
    position: absolute;
    width: 110%;
    left: -10%;
    top: -5%;
    height: 100%;
}

/*.scene1-background-layer-3 {
    background: url(/images/2men.png) no-repeat 50% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    !*background-size: cover;*!
    position: absolute;
    width: 100%;
    !*left: -10%;
    top: -5%;*!
    height: 100%;
}*/

/*
.button-left {
    bottom: 50%;
    left: 15%;
    transform: translate3d(0,-50%,0) rotate(200deg);
}

.button-right {
    bottom: 50%;
    right: 15%;
    transform: translate3d(0,-50%,0) rotate(270deg);
}
*/
