* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#video {
    object-fit: fill;
    position: relative;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    width: 100%;
}

.image {
    background: url(/img/city_entrance.jpg) no-repeat ;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    position: relative;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    /*width: 100%;*/
    padding: 20px;
}
