body {
    /*background-image: '../../../../../';*/
    background-image: url("/images/cloudgif.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}

.vlak{
    background-color:rgba(242, 242, 228, 0.4);
    border-radius: 25px;
}

.text-intro{
    text-align: center;
    font-family:Courier, monospace;

}

.text-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom:20px;
    font-family: 'Major Mono Display', regular, monospace;

}

.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.button:hover {
    background-color: black;
    color: white;
}

.container{
    margin:250px 50px 50px 50px;
    padding: 50px 30px 150px 30px;
}

